body {
  background-color: rgb(253, 251, 251);
}

header {
  position: fixed;
  top: 0;
  background-color: #57CC99;
  width: 100%;
  text-align: center;
}

#cabecalho lu {
  list-style: none;
}

main{
  padding-top: 150px;
}

div{
  display: inline-block;
  width: 30%;
}

#rodape a{
border: 1px solid #22577A;
margin: 5px;
padding: 10px;
border-radius: 20%;
text-align: center;
background-color: #C7F9CC;
color: #22577A;
}