* {
  margin: 0;
}

body {
  background-color: rgb(253, 251, 251);
}

header {
  position: fixed;
  top: 0;
  background-color: #57cc99;
  width: 100%;
  text-align: center;
}

#cabecalho nav ul {
  list-style-type: none;
}

#cabecalho li {
  display: inline;
  margin: 5px;
}

#cabecalho nav a {
  text-decoration: none;
  color: #081c15;
}
main {
  padding: 80px 15px 30px;
}

div {
  display: inline-block;
  width: 30%;
}

#rodape {
  background-color: #57cc99;
  height: 80px;
  text-align: center;
}

#rodape a {
  position: relative;
  border: 1px solid #22577a;
  padding: 10px;
  border-radius: 20%;
  background-color: #c7f9cc;
  color: #22577a;
  top: 30px;
}

#rodape a:hover {
  background-color: #184e77;
  color: aliceblue;
}

#tabela {
  width: 300px;
  height: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
}

table {
  background-color: #83c5be;
  border-style: dotted;
  border-color: aliceblue;
}

table td:nth-child(even) {
  color: white;
}
table td:nth-child(odd) {
  color: #1b4332;
  font-weight: bold;
}

div ol, div ul {
  line-height: 30px;
}

section{
  min-height: 150px;
  padding-top: 50px;
}

.lado-esquerdo{
  width: 300px;
  display: inline-block;
  background-color: #83c5be;
}

.lado-direito{
  width: 150px;
  display: inline-block;
  background-color: #83c5be;
  margin-left:150px ;
  
}